body {
    font-family: "verdana"
}

.outer-box {
    border: solid;
    width: 75%;
    background-color: blueviolet;
}

.inner-box {
    background-color: white;
    margin: 10px;
    padding: 20px;
}
